.inboxView {
    flex: 0.6;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    overflow-y: scroll;
    min-width: fit-content;
}

.titleInbox {
    margin-top: 50px;
    margin-left: 20px;
}

.titleInbox > h2 {
    font-family: "Lucida Console", "Courier New", monospace;
}

.shortInfoInbox {
    margin-top: 30px;
    margin-left: 10px;
}

.buttonSendMsg {
    margin-top: 50px;
    margin-left: 15px;
}

.sendMsg {
    margin: 0 auto;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    background-color: transparent;
}

.sendMsg > h2 {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
}

.sendMsg:hover {
    background-color: rgb(249, 176, 19);
    border-radius: 30px;
    transition: color 100ms ease-out;
    color: rgb(255, 255, 255);
}

.msgIcon {
    padding-top: 3px;
    transform: scale(1.0);
}

.inboxView::-webkit-scrollbar {
    display: none
}

.inboxView {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.inboxView input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid rgb(219, 77, 52);
    border-radius: 5px;
    width: 450px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .inboxView input::placeholder {
    color: #95a5a6;
  }
  
  .inboxView input:focus {
    border-color: rgb(255, 183, 3);
    box-shadow: 0 0 5px rgba(236, 186, 3, 0.5);
  }

  .msgTextArea {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .receivedMessages {
    margin-top: 10px; 
  }
  
  .messageContent {
    padding-left: 20px; 
  }
  
  .messageText {
    margin-bottom: 5px; 
  }

  .noMessages {
    padding-left: 20px;
  }

.sendMsg {
    float: right;
    margin-right: 20px;
    margin-top: 15px;
  }
  
  