.infoProfil {
    flex: 0.6;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    overflow-y: scroll;
    min-width: fit-content;
}

.tloProfilu {
    height: 281.25px;
    width: 800px;
    cursor: pointer;
    border-bottom: 5px solid gray;
}

.clickable:hover {
    filter: brightness(1.2);
    transition: filter 0.3s;
    cursor: pointer;
}


.info {
    padding-bottom: 20px;
    border-bottom: 5px solid gray;
}

.avatar {
    vertical-align: middle;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border-width: 5px;
    border-color: gray;
    border-style: outset;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px; 
}

.displayName {
    font-weight: bold;
    font-size: 30px;
}

.description {
    padding-bottom: 15px;
    padding-left: 30px;
}


.userPosts{
    max-width: 800px;
    padding: 15px;
}

.editTextarea {
    width: 100%;
    min-height: 100px;
    padding: 8px;
    font-size: 14px;
    border: 3px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  .editTextarea::placeholder {
    color: #aaa;
  }

  .editText{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    transition: all 0.5s ease-in;
  }

.descButton {
    margin: 0 auto;
    align-items: center;
    cursor: pointer;
    border-radius: 30px;
    margin-inline: 5px;
    background-color: transparent;
}

.descButton > h2 {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
}

.descButton:hover{
    background-color: rgb(249, 176, 19);
    border-radius: 30px;
    transition: color 100ms ease-out;
    color: rgb(255, 255, 255);
}