.panelZakladki {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.panelZakladki > .MuiSvgIcon-root {
    font-size: 48px; 
    padding: 10px;
  }
  

.panelZakladki > h2 {
    font-size: 20px;
    font-weight: 800;
    margin-right: 20px;
}

.panelZakladki:hover{
    background-color: rgb(249, 176, 19);
    border-radius: 30px;
    transition: color 100ms ease-out;
    color: rgb(255, 255, 255);
}