.prawo {
    flex: 0.2;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    min-width: 250px;
}

.searchUser{
    padding-top: 30px;
    padding-left: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .search-input {
    flex: 1; 
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px 0 0 4px; 
    outline: none;
    font-size: 16px;
    height: 36px; 
  }
  
  .search-input::placeholder {
    color: #999;
  }
  
  .search-button {
    background-color: rgb(249, 176, 19);
    color: white;
    border: none;
    border-radius: 0 4px 4px 0; 
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 36px; 
  }
  
  .search-button:hover {
    background-color: rgb(254, 175, 5);
  }
  
  .MuiSvgIcon-root {
    font-size: 24px; 
    margin-right: 8px; 
  }

  .error {
    color: red;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }

  .suggestedUsers {
    padding-top: 50px;
    min-width: 300px;
  }
  
  .userList {
    list-style: none;
    padding: 0;
  }

  .userListItem {
    display: flex;
    border-bottom: 1px solid black; 
  }

  .userList li {
    padding-top: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .userLink {
    text-decoration: none;
    color: #333;
    display: block; 
  }

  .userContainer {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .userAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .userName {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }