.tweet {
    padding-bottom: 10px;
    border-bottom: 5px solid gray;
    padding-right: 10px;
}

.tweet > form {
    display: flex;
    flex-direction: column;
}

.tweet_pole {
    display: flex;
    padding: 20px
}

.tweet_pole > input {
    flex: 1;
    margin-left: 20px;
    border: none;
    font-size: 20px;
}

.tweet_przycisk {
    background-color: rgb(249, 176, 19) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 120px;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
  }